{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Apple Mart</title>
    <link rel="shortcut icon" href="{% static 'images/logo/icon.png' %}" type="Apple mart icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/chartist.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/chartist-plugin-tooltip.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/graindashboard.css' %}">

</head>

<body class="has-sidebar has-fixed-sidebar-and-header">

    {% include 'Dashboard/navbar.html' %}

    <main class="main">
        {% include 'Dashboard/sidebar.html' %}


        <div class="content">
            {% block content %} {% endblock %}
            
            {% include 'Dashboard/footer.html' %}
        </div>
    </main>





    <script src="{% static 'js/Dashboard/graindashboard.js' %}"></script>
    <script src="{% static 'js/Dashboard/graindashboard.vendor.js' %}"></script>
    <script src="{% static 'js/Dashboard/resizeSensor.js' %}"></script>
    <script src="{% static 'js/Dashboard/chartist.js' %}"></script>
    <script src="{% static 'js/Dashboard/chartist-plugin-tooltip.js' %}"></script>
    <script src="{% static 'js/Dashboard/gd.chartist-area.js' %}"></script>
    <script src="{% static 'js/Dashboard/gd.chartist-bar.js' %}"></script>
    <script src="{% static 'js/Dashboard/gd.chartist-donut.js' %}"></script>

    <script>
        $.GDCore.components.GDChartistArea.init('.js-area-chart');
        $.GDCore.components.GDChartistBar.init('.js-bar-chart');
        $.GDCore.components.GDChartistDonut.init('.js-donut-chart');
    </script>

</body>

</html>