{% extends "Dashboard/auth_base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid pb-5">

    <div class="row justify-content-md-center">
        <div class="card-wrapper col-12 col-md-6 mt-5">
            <div class="brand text-center mb-3">
                <a href="{% url 'dashboardv1' %}">Shoppy</a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Verify Your Email Address</h4>
                    <div class="alert alert-success" role="alert">
                        A fresh verification link has been sent to your email address.
                    </div>

                    Before proceeding, please check your email for a verification link.
                    If you did not receive the email, <a href="#">click here to request another</a>.
                </div>
            </div>
            <footer class="footer mt-3">
                <div class="container-fluid">
                    <div class="footer-content text-center small">
                        <span class="text-muted">&copy; 2019 Graindashboard. All Rights Reserved.</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>



</div>

{% endblock %}