{% extends "side_base.html" %}

{% load static %}
{% block content %}

<div id="about_header">
    <header id="header" class="header">
        <img class="decoration-star" src="{% static 'images/decoration-star.svg' %}" alt="alternative">
        <img class="decoration-star-2" src="{% static 'images/decoration-star.svg' %}" alt="alternative">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-5">
                    <div class="text-container">
                        <h1 class="h1-large">All Accessories in one stop</h1>
                        <p class="p-large">Is education residence conveying and sore. Suppose shyness say ten behaved
                            morning had. Any propose assist compliment occasional too reasonably</p>
                        <a class="btn-solid-lg" href="#introduction">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{% static 'images/header.png' %}" alt="alternative">
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


<div id="introduction" class="basic-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, accusamus.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, magni incidunt? Dicta nemo
                    perferendis voluptatum corrupti, beatae non assumenda inventore labore. Quia itaque eos a sed
                    beatae, architecto, commodi unde, perspiciatis error voluptates animi quas excepturi laborum?
                    Tempore, iusto temporibus!</p>
            </div>
        </div>
    </div>
</div>

<div id="details" class="basic-2">
    <img class="decoration-star" src="{% static 'images/decoration-star.svg' %}" alt="alternative">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/details-1.png' %}" alt="alternative">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="text-container">
                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, atque!</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
                                omnis itaque magni possimus nisi et.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa nam
                                tenetur aut.</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero
                                consectetur fugit exercitationem.e</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Distinctio iusto perspiciatis doloribus!</div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="services" class="cards-1 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>Services that we offer</h2>
                    <p>Greatly hearted has who believe. Drift allow green son walls years for blush. Sir margaret
                        drawings repeated recurred exercise laughing may you</p>
                    <p>Do repeated whatever to welcomed absolute no. Fat surprise although more words outlived</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">And informed shy dissuade property. Musical by</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">He drawing savings an. No we stand avoid</div>
                        </li>
                        <li class="d-flex">
                            <i class="fas fa-square"></i>
                            <div class="flex-grow-1">Announcing of invita mrore wo tion principle</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card-container">
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-rocket"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Space analysis and planning</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <span class="far fa-clock"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Design and color choosing</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <span class="far fa-comments"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Materials and delivery</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-tools"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Execute the concept</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <span class="fas fa-chart-pie"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Creating great atmosphere</h5>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon">
                            <span class="far fa-chart-bar"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Evaluation and reporting</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}